<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.epam.ukolpakova.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Connor"/>
    </bean>

    <bean id="consoleEventLogger" class="com.epam.ukolpakova.loggers.ConsoleEventLogger"/>

    <bean id="app" class="com.epam.ukolpakova.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <bean id="event" class="com.epam.ukolpakova.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="fileEventLogger" class="com.epam.ukolpakova.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="log.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="com.epam.ukolpakova.loggers.CacheFileEventLogger"
          destroy-method="destroy" parent="fileEventLogger">
        <constructor-arg value="5"/>
    </bean>

</beans>